certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
colorzero==1.1
cryptography==2.8
future==0.18.2
gpiozero==1.5.1
idna==2.8
numpy==1.18.1
pandas==1.0.0
pycparser==2.19
python-dateutil==2.8.1
python-dotenv==0.10.5
pytz==2019.3
requests==2.22.0
six==1.14.0
urllib3==1.26.5
