asn1crypto==0.24.0
atomicwrites==1.1.5
attrs==18.2.0
backports.functools-lru-cache==1.5
beautifulsoup4==4.7.1
certifi==2019.11.28
chardet==3.0.4
Cheetah3==3.1.0
compress-json==1.0.0
configparser==3.5.0b2
cryptography==2.6.1
cvxopt==1.1.9
cycler==0.10.0
decorator==4.3.0
entrypoints==0.3
enum34==1.1.6
et-xmlfile==1.0.1
funcsigs==1.0.2
future==0.18.2
GDAL==2.4.0
html5lib==1.0.1
idna==2.8
ipaddress==1.0.17
jdcal==1.0
joblib==0.13.0
keyring==17.1.1
keyrings.alt==3.1.1
kiwisolver==1.0.1
lxml==4.3.2
lz4==1.1.0+dfsg
matplotlib==2.2.3
mock==2.0.0
more-itertools==4.2.0
networkx==2.2
numexpr==2.6.9
numpy==1.16.2
olefile==0.46
openpyxl==2.4.9
pandas==0.23.3+dfsg
pathlib2==2.3.3
patsy==0.5.0+dev
pbr==4.2.0
Pillow==5.4.1
pluggy==0.8.0
psutil==5.5.1
py==1.7.0
PyBOMBS==2.3.4a0
pycairo==1.16.2
pycrypto==2.6.1
PyGObject==3.30.4
pygraphviz==1.5
pynmea2==1.15.0
PyOpenGL==3.1.0
pyparsing==2.2.0
pyserial==3.4
pytest==3.10.1
python-apt==1.8.4
python-dateutil==2.7.3
pytz==2019.1
pyxdg==0.25
PyYAML==3.13
pyzmq==17.1.2
requests==2.22.0
RPi.GPIO==0.7.0
ruamel.ordereddict==0.4.14
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
scandir==1.9.0
scipy==1.1.0
SecretStorage==2.3.1
simplejson==3.16.0
six==1.12.0
soupsieve==1.8
statsmodels==0.8.0
subprocess32==3.5.3
tables==3.4.4
typing==3.7.4.1
urllib3==1.25.7
webencodings==0.5.1
wiringpi==2.46.0
wxPython==3.0.2.0
wxPython-common==3.0.2.0
xlrd==1.1.0
xlwt==1.3.0
